<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <meta property="og:image" content="{{ asset('/media/img/moi.jpg') }}" />
        <meta property="og:image" content="{{ asset('/media/img/moi.jpg') }}" />
        <meta property="og:image:width" content="750" />
        <meta property="og:image:heigth" content="500" />

        <link rel="preconnect" href="https://fonts.gstatic.com">

        {% block stylesheets %}     
            <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" media="all" href="{{ asset('style/main.css') }}" type="text/css" />
        {% endblock %}


        {% block javascripts %}  
            <script src="https://kit.fontawesome.com/5944b63bf2.js" crossorigin="anonymous"></script>
        {% endblock %}

    </head>
    <body>
        <header>
            <nav id="top">
                <ul>
                    <li><a href="{{ path('index') }}" >Accueil</a></li>
                    <li><a href="{{ path('cv') }} " >Mon CV</a></li>
                    <li><a href="{{ path('about') }}" >About me</a></li>
                    <li><a href="{{ path('contact') }}" >Contact</a></li>
                </ul>
            </nav>
            <title>Souillat Benoit - Mon Portfolio</title>
        </header>
        {% block body %}



        {% endblock %}
        <footer>
            <div>
                <a href="#top"><span class="fas fa-chevron-up"></span></a>
                <div>
                    <a href="/contenu/download/cv.pdf" class="btn" download="Cv_Benoit_Souillat" >Télécharger mon CV</a>
                    <a href="/contenu/download/cv.pdf" class="btn" target="_blank" >Imprimer mon CV</a>
                </div>
                <p>Retrouvez toutes mes réalisations sur mon <a href="https://github.com/benoitsouillat" >Github</a></p><br/>
                <h4>Benoît Souillat - 2021</h4>
            </div>
        </footer>
        <script src="{{ asset('app.js') }}"></script>

    </body>
</html>
